<ion-header>
  <ion-toolbar color="primary">
   
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of items" [routerLink]="['/details', item.id]">
  <img [src]="item.imgUrl" alt="{{item.name}}"/>
  <ion-card-content>
    <ion-card-title>
      {{item.name}}
      </ion-card-title>
    <p>
      {{item.descr | slice:0:250}}...
    </p>
    <p><span class="time">Добавлено:</span> <span class="date">{{item.added}}</span></p>
  </ion-card-content>
</ion-card>


<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles"
  loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
</ion-content>
